# Sniperkit-Bot
# - Date: 2018-08-11 22:25:29.898527949 +0200 CEST m=+0.117931865
# - Status: analyzed

tmp/
.thrap
dist/
thrap
.Trash
.DS_Store
vendor/
*.log
*.test
.env
*.exe
*.dll
*.so
*.dylib
.vscode/
.a
secrets.*
testdir
